n8n/workflows/deal-assistant-feedback.json
{
  "name": "deal-assistant-feedback",
  "active": true,
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "parameters": {
        "httpMethod": "POST",
        "path": "deal-assistant/feedback",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "extract",
      "name": "Extract Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400],
      "parameters": {
        "jsCode": "// Vercel API route validates the JWT and forwards user_id; this workflow trusts the body.\nconst body = $input.first().json.body || {};\nconst user_id = body.user_id;\nconst message_id = body.message_id;\nconst rating = Number(body.rating);\nconst reason = body.reason || null;\n\nconst valid = Boolean(user_id && message_id && (rating === 1 || rating === -1));\n\nreturn [{\n  json: {\n    valid,\n    user_id,\n    message_id,\n    rating,\n    reason,\n    error: valid ? null : 'Missing required fields: user_id, message_id, rating (1 or -1)'\n  }\n}];"
      }
    },
    {
      "id": "request-valid",
      "name": "Request Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respond-400",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, 600],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error || 'Bad Request' }) }}",
        "options": { "responseCode": 400 }
      }
    },
    {
      "id": "insert-feedback",
      "name": "Insert Feedback",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [880, 400],
      "parameters": {
        "operation": "create",
        "tableId": "terminal_ai_feedback",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "message_id", "fieldValue": "={{ $json.message_id }}" },
            { "fieldId": "user_id", "fieldValue": "={{ $json.user_id }}" },
            { "fieldId": "rating", "fieldValue": "={{ $json.rating }}" },
            { "fieldId": "reason", "fieldValue": "={{ $json.reason }}" }
          ]
        }
      }
    },
    {
      "id": "respond-200",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, id: $json.id }) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract Request", "type": "main", "index": 0 }]] },
    "Extract Request": { "main": [[{ "node": "Request Valid?", "type": "main", "index": 0 }]] },
    "Request Valid?": {
      "main": [
        [{ "node": "Insert Feedback", "type": "main", "index": 0 }],
        [{ "node": "Respond 400", "type": "main", "index": 0 }]
      ]
    },
    "Insert Feedback": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "errorWorkflow": "3BgcBtDAuSj0zdYy",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": []
}
