n8n/workflows/deal-assistant-history.json
{
  "name": "deal-assistant-history",
  "active": false,
  "_note": "Deactivated; superseded by direct Supabase reads in /api/ai/conversations and /api/ai/conversations/[id]. Kept for reference.",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "parameters": {
        "httpMethod": "POST",
        "path": "deal-assistant/conversations",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "extract",
      "name": "Extract Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 400],
      "parameters": {
        "jsCode": "// Vercel validates JWT and forwards user_id. This workflow trusts the body.\n// Mode: 'list'      -> needs deal_id, returns conversations for this user+deal\n// Mode: 'messages'  -> needs conversation_id, returns messages (with ownership check)\nconst body = $input.first().json.body || {};\nconst user_id = body.user_id;\nconst mode = body.mode || (body.conversation_id ? 'messages' : 'list');\nconst deal_id = body.deal_id;\nconst conversation_id = body.conversation_id;\n\nlet valid = false;\nlet error = null;\n\nif (!user_id) {\n  error = 'Missing user_id';\n} else if (mode === 'list' && deal_id) {\n  valid = true;\n} else if (mode === 'messages' && conversation_id) {\n  valid = true;\n} else {\n  error = 'Provide deal_id (list mode) or conversation_id (messages mode)';\n}\n\nreturn [{ json: { valid, error, user_id, mode, deal_id, conversation_id } }];"
      }
    },
    {
      "id": "request-valid",
      "name": "Request Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 400],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respond-400",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 600],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error || 'Bad Request' }) }}",
        "options": { "responseCode": 400 }
      }
    },
    {
      "id": "switch-mode",
      "name": "Switch Mode",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [640, 400],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "list",
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "list",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "list"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "msgs",
                    "leftValue": "={{ $json.mode }}",
                    "rightValue": "messages",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "messages"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "list-conversations",
      "name": "List Conversations",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [860, 300],
      "parameters": {
        "operation": "getAll",
        "tableId": "terminal_ai_conversations",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            { "keyName": "user_id", "condition": "eq", "keyValue": "={{ $json.user_id }}" },
            { "keyName": "deal_id", "condition": "eq", "keyValue": "={{ $json.deal_id }}" }
          ]
        }
      }
    },
    {
      "id": "verify-ownership",
      "name": "Verify Ownership",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [860, 500],
      "parameters": {
        "operation": "getAll",
        "tableId": "terminal_ai_conversations",
        "returnAll": false,
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $json.conversation_id }}" },
            { "keyName": "user_id", "condition": "eq", "keyValue": "={{ $json.user_id }}" }
          ]
        }
      }
    },
    {
      "id": "ownership-ok",
      "name": "Ownership OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 500],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "exists", "singleValue": true }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respond-403",
      "name": "Respond 403",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 700],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Forbidden: conversation not owned by user' }) }}",
        "options": { "responseCode": 403 }
      }
    },
    {
      "id": "list-messages",
      "name": "List Messages",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1300, 500],
      "parameters": {
        "operation": "getAll",
        "tableId": "terminal_ai_messages",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "conversation_id",
              "condition": "eq",
              "keyValue": "={{ $('Extract Request').item.json.conversation_id }}"
            }
          ]
        }
      }
    },
    {
      "id": "respond-list",
      "name": "Respond List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1080, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ conversations: $input.all().map(i => i.json) }) }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "respond-messages",
      "name": "Respond Messages",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1520, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ messages: $input.all().map(i => i.json) }) }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract Request", "type": "main", "index": 0 }]] },
    "Extract Request": { "main": [[{ "node": "Request Valid?", "type": "main", "index": 0 }]] },
    "Request Valid?": {
      "main": [
        [{ "node": "Switch Mode", "type": "main", "index": 0 }],
        [{ "node": "Respond 400", "type": "main", "index": 0 }]
      ]
    },
    "Switch Mode": {
      "main": [
        [{ "node": "List Conversations", "type": "main", "index": 0 }],
        [{ "node": "Verify Ownership", "type": "main", "index": 0 }]
      ]
    },
    "List Conversations": { "main": [[{ "node": "Respond List", "type": "main", "index": 0 }]] },
    "Verify Ownership": { "main": [[{ "node": "Ownership OK?", "type": "main", "index": 0 }]] },
    "Ownership OK?": {
      "main": [
        [{ "node": "List Messages", "type": "main", "index": 0 }],
        [{ "node": "Respond 403", "type": "main", "index": 0 }]
      ]
    },
    "List Messages": { "main": [[{ "node": "Respond Messages", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "errorWorkflow": "3BgcBtDAuSj0zdYy",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": []
}
